<div class="list-container">
  <p-toast></p-toast>
  <p-card class="list-card-container">
    <div class="card-header">
      <h2>Registered Accounts</h2>
      <p class="subtitle">List of registered users saved in the MySQL database (via Docker)</p>
    </div>

    <app-account-table
      [accounts]="accounts()"
      [loading]="loading()"
      [(selection)]="selectedAccounts">
    </app-account-table>

    <div class="action-bar">
      <p-button 
        routerLink="/" 
        label="Back to Register" 
        icon="pi pi-arrow-left" 
        severity="secondary">
      </p-button>
      <div class="action-buttons-right">
        <p-button 
          (click)="deleteSelected()" 
          label="Delete Selected" 
          icon="pi pi-trash" 
          severity="danger"
          [disabled]="selectedAccounts().length === 0">
        </p-button>
        <p-button 
          (click)="loadAccounts()" 
          label="Refresh" 
          icon="pi pi-sync" 
          [loading]="loading()">
        </p-button>
      </div>
    </div>
  </p-card>
</div>
