@use 'styles/variables' as *;
@import 'primeicons/primeicons.css';

/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  background-color: $fb-bg-gray;
  color: $fb-text-black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
